<div class="footer bg-primary text-white d-flex justify-content-between">
  <div class="footer-links">
    <a href="https://www.instagram.com/roosjepertz/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/roosje.pertz"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/roosjepertz"><i class="fab fa-x-twitter"></i></a>
    <a href="https://www.threads.net/@roosjepertz"><i class="fab fa-threads"></i></a>
    <a href="https://www.youtube.com/channel/UCL4mxu1pATbZcH90rtwXj7g"><i class="fab fa-youtube"></i></a>
    <a href="mailto:info@roosjepertz.be"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-content footer-links">
    <a href="http://www.123comedyclub.be/comedian/roosje-pertz#.X29Nei1Y7BI" style="font-size: 16px;">bookings</a>
  </div>
  <div class="footer-content footer-links">
    <a href="mailto:deprezedouard@gmaiL.com" style="font-size: 16px;">website door EDP</a>
  </div>
</div>

<!-- JS -->
<script src="https://kit.fontawesome.com/6b3cfc5d78.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
