<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-light">
  <a class="navbar-brand" href="#">Roosje Pertz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#bio">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#podcast">Podcast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#socials">Sociaal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#copywriting">Copywriting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="mailto:info@roosjepertz.be">Contact</a>
      </li>
      <li class="nav-item">
        <div class="footer-links d-flex justify-content-center d-lg-none">
          <a href="https://www.instagram.com/roosjepertz/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/roosje.pertz"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/roosjepertz"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCL4mxu1pATbZcH90rtwXj7g"><i class="fab fa-youtube"></i></a>
          <a href="mailto:info@roosjepertz.be"><i class="fas fa-envelope"></i></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-links d-none d-lg-block">
    <a href="https://www.instagram.com/roosjepertz/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/roosje.pertz"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/roosjepertz"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UCL4mxu1pATbZcH90rtwXj7g"><i class="fab fa-youtube"></i></a>
    <a href="mailto:info@roosjepertz.be"><i class="fas fa-envelope"></i></a>
  </div>
</nav>
