<section class="bg-light " id="podcast">
  <div class="container banner pt-5" style="padding:unset; max-height: unset; background-image: url({{ '/img/Dertigerspraat.jpg' | relative_url }});">
    <div class="d-flex justify-content-center">
        <h2 class="text-white text-center bg-light mt-5 p-3">Dertigerspraat/Kilocast</h2>
    </div>
    <div class="container">
      <div class="row pb-5">
        <div class="col-0 col-md-1"></div>
        <div class="d-flex justify-content-center mt-4 col-12 col-md-10">
          <iframe style="max-width: 600px;" width="100%" height="600" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/450253833&color=%23f3dcdc&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
